<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>

    <title>добавь группу</title>
</head>
<div class="login-box-body" style="margin-left: 35%; margin-right: 35%; margin-top: 5%">
    <p class="login-box-msg">Войдите для продолжения работы</p>
    <form action="{% url 'VkModule:login' %}" method="post">{% csrf_token %}
        {% if login_error %}
            <div class="error" style="color: red">Проверьте логин и пароль</div>
        {% endif %}
        <div class="form-group has-feedback">
            <input type="text" name="username" class="form-control" placeholder="Username"
            {% if login %}value = "{{ login }}"{% endif %}>
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" value="true" name="remember_me"> Запомнить меня
                    </label>
                </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-soundcloud btn-block btn-flat">Войти</button>
            </div><!-- /.col -->
        </div>
    </form>
</div><!-- /.login-box-body -->
</html>